language: python

jobs:
  include:
    - name: "Python 3.8.0 on Windows"
      os: windows           # Windows 10.0.17134 N/A Build 17134
      language: shell       # 'language: python' is an error on Travis CI Windows
      before_install:
        - choco install python --version 3.8.0
        - python -m pip install --upgrade pip
      env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
      install:
        - pip install -r requirements.txt
        - pip install -r requirements-test.txt
    - name: "xenial"
      dist: xenial
      python:
        - "3.8"
      addons:
        apt:
          packages:
          - x11-utils
          - libxkbcommon-x11-0
          - libxcb-randr0-dev
          - libxcb-xtest0-dev
          - libxcb-xinerama0-dev
          - libxcb-shape0-dev
          - libxcb-xkb-dev
          - libxcb-render-util0
          - libxcb-icccm4
          - libxcb-keysyms1
          - libxcb-image0
      services:
        - xvfb


      # command to install dependencies
      install:
        - pip install -r requirements.txt
        - pip install -r requirements-test.txt

# command to run tests
script:
  - pytest
  - pyinstaller pyqtapp/__main__.py
  - ls -al ./build/__main__/
  - ls -al ./dist/__main__/
  - tar zcvf main.tar.gz -C dist __main__

deploy:
  provider: releases
  draft: true
  api_key: $GITHUB_TOKEN
  file: main.tar
  skip_cleanup: true
  draft: true
  on:
    branches: feat/pyinstaller
