# .travis.yml
jobs:
  include:
    - stage: test
      os: windows           # Windows 10.0.17134 N/A Build 17134
      language: shell       # 'language: python' is an error on Travis CI Windows
      before_install:
        - choco install python --version 3.8.0
        - python -m pip install --upgrade pip
      env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
      install:
        - pip install -r requirements.txt
        - pip install -U -r requirements-test.txt
      script:
        - pytest --cov-report=xml --cov=pyqtapp tests/
      after_success:
        - codecov
    - stage: deploy
      os: windows           # Windows 10.0.17134 N/A Build 17134
      language: shell       # 'language: python' is an error on Travis CI Windows
      before_install:
        - choco install python --version 3.8.0
        - python -m pip install --upgrade pip
      env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
      install:
        - pip install -r requirements.txt
        - pip install -U -r requirements-test.txt
      script:
        - pyinstaller pyqtapp/__main__.py
        - tar zcvf main_windows.tar.gz -C dist __main__
      deploy:
        provider: releases
        edge: true
        cleanup: false
        draft: true
        api_key: $GITHUB_TOKEN
        file: main_windows.tar.gz
        on:
          branch: master
